# **Capstone III Data Wrangling**

### **Section 1: Imports and Initial Inspection**

In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv("../Raw Data/train.csv")

In [3]:
raw_data.head()

,Id,Date,Time,CO2_(dinning-room),CO2_room,Relative_humidity_(dinning-room),Relative_humidity_room,Lighting_(dinning-room),Lighting_room,Meteo_Rain,Meteo_Sun_dusk,Meteo_Wind,Meteo_Sun_light_in_west_facade,Meteo_Sun_light_in_east_facade,Meteo_Sun_light_in_south_facade,Meteo_Sun_irradiance,Outdoor_relative_humidity_Sensor,Day_of_the_week,Indoor_temperature_room
0,0,13/03/2012,11:45,216.560,221.920,39.9125,42.4150,81.6650,113.520,0.0,623.360,1.42625,9690.24,12604.20,95436.8,758.880,48.3750,2.0,17.8275
1,1,13/03/2012,12:00,219.947,220.363,39.9267,42.2453,81.7413,113.605,0.0,623.211,1.59200,11022.00,10787.20,95436.8,762.069,47.8080,2.0,18.1207
2,2,13/03/2012,12:15,219.403,218.933,39.7720,42.2267,81.4240,113.600,0.0,622.656,1.89133,13960.50,9669.63,95398.6,766.251,47.4320,2.0,18.4367
3,3,13/03/2012,12:30,218.613,217.045,39.7760,42.0987,81.5013,113.344,0.0,622.571,1.82800,18511.20,9648.13,95360.3,766.037,47.0240,2.0,18.7513
4,4,13/03/2012,12:45,217.714,216.080,39.7757,42.0686,81.4657,113.034,0.0,622.400,2.36071,26349.00,9208.32,95354.9,762.743,45.4743,2.0,19.0414

In [4]:
raw_data.shape

(2764, 19)

In [5]:
# With the exception of Date and Time, all columns are the correct data type
raw_data.dtypes

Id                                    int64
Date                                 object
Time                                 object
CO2_(dinning-room)                  float64
CO2_room                            float64
Relative_humidity_(dinning-room)    float64
Relative_humidity_room              float64
Lighting_(dinning-room)             float64
Lighting_room                       float64
Meteo_Rain                          float64
Meteo_Sun_dusk                      float64
Meteo_Wind                          float64
Meteo_Sun_light_in_west_facade      float64
Meteo_Sun_light_in_east_facade      float64
Meteo_Sun_light_in_south_facade     float64
Meteo_Sun_irradiance                float64
Outdoor_relative_humidity_Sensor    float64
Day_of_the_week                     float64
Indoor_temperature_room             float64
dtype: object

In [6]:
# No NaN values
raw_data.isna().sum()

Id                                  0
Date                                0
Time                                0
CO2_(dinning-room)                  0
CO2_room                            0
Relative_humidity_(dinning-room)    0
Relative_humidity_room              0
Lighting_(dinning-room)             0
Lighting_room                       0
Meteo_Rain                          0
Meteo_Sun_dusk                      0
Meteo_Wind                          0
Meteo_Sun_light_in_west_facade      0
Meteo_Sun_light_in_east_facade      0
Meteo_Sun_light_in_south_facade     0
Meteo_Sun_irradiance                0
Outdoor_relative_humidity_Sensor    0
Day_of_the_week                     0
Indoor_temperature_room             0
dtype: int64

### **Section 2: Format and Structure Changes**

Here we'll make some format changes. This includes creating a combined date and time column, changing the data types of the date columns, and changing column names.

In [7]:
raw_data.head()

,Id,Date,Time,CO2_(dinning-room),CO2_room,Relative_humidity_(dinning-room),Relative_humidity_room,Lighting_(dinning-room),Lighting_room,Meteo_Rain,Meteo_Sun_dusk,Meteo_Wind,Meteo_Sun_light_in_west_facade,Meteo_Sun_light_in_east_facade,Meteo_Sun_light_in_south_facade,Meteo_Sun_irradiance,Outdoor_relative_humidity_Sensor,Day_of_the_week,Indoor_temperature_room
0,0,13/03/2012,11:45,216.560,221.920,39.9125,42.4150,81.6650,113.520,0.0,623.360,1.42625,9690.24,12604.20,95436.8,758.880,48.3750,2.0,17.8275
1,1,13/03/2012,12:00,219.947,220.363,39.9267,42.2453,81.7413,113.605,0.0,623.211,1.59200,11022.00,10787.20,95436.8,762.069,47.8080,2.0,18.1207
2,2,13/03/2012,12:15,219.403,218.933,39.7720,42.2267,81.4240,113.600,0.0,622.656,1.89133,13960.50,9669.63,95398.6,766.251,47.4320,2.0,18.4367
3,3,13/03/2012,12:30,218.613,217.045,39.7760,42.0987,81.5013,113.344,0.0,622.571,1.82800,18511.20,9648.13,95360.3,766.037,47.0240,2.0,18.7513
4,4,13/03/2012,12:45,217.714,216.080,39.7757,42.0686,81.4657,113.034,0.0,622.400,2.36071,26349.00,9208.32,95354.9,762.743,45.4743,2.0,19.0414

In [8]:
# Drop the Id columns. We'll be indexing our dataframe by date/time.
raw_data.drop(columns = 'Id', inplace = True)

In [9]:
# We'd like these column names to be formatted differently.
raw_data.columns

Index(['Date', 'Time', 'CO2_(dinning-room)', 'CO2_room',
       'Relative_humidity_(dinning-room)', 'Relative_humidity_room',
       'Lighting_(dinning-room)', 'Lighting_room', 'Meteo_Rain',
       'Meteo_Sun_dusk', 'Meteo_Wind', 'Meteo_Sun_light_in_west_facade',
       'Meteo_Sun_light_in_east_facade', 'Meteo_Sun_light_in_south_facade',
       'Meteo_Sun_irradiance', 'Outdoor_relative_humidity_Sensor',
       'Day_of_the_week', 'Indoor_temperature_room'],
      dtype='object')

In [10]:
# Function to reformat column names
def column_renamer(df):
    new_names = []
    for column in df.columns:
        new_name = column.lower() # Make column names lower case
        
        new_name = (new_name.replace('(', '').replace(')', '').replace('-', '_')
        .replace('dinning', 'dining').replace('meteo_', '').replace('_sensor', '')) # Replaces parentheses, misspellings, etc.
        
        new_names.append(new_name)
        mapper = dict(zip(df.columns, new_names))
        df.rename(mapper, axis = 'columns', inplace = True)
    return(df)

In [11]:
column_renamer(raw_data)
raw_data.columns

Index(['date', 'time', 'co2_dining_room', 'co2_room',
       'relative_humidity_dining_room', 'relative_humidity_room',
       'lighting_dining_room', 'lighting_room', 'rain', 'sun_dusk', 'wind',
       'sun_light_in_west_facade', 'sun_light_in_east_facade',
       'sun_light_in_south_facade', 'sun_irradiance',
       'outdoor_relative_humidity', 'day_of_the_week',
       'indoor_temperature_room'],
      dtype='object')

In [12]:
# Add a new column that combines the Date and Time columns. Drop the time column.
raw_data['date_time'] = raw_data['date'] + ' ' + raw_data['time']
raw_data.drop(columns = 'time', inplace = True)

raw_data['date_time'].sample(10)

1184    25/03/2012 19:45
1415    28/03/2012 05:30
2667    10/04/2012 06:30
67      14/03/2012 04:30
556     19/03/2012 06:45
2304    06/04/2012 11:45
2356    07/04/2012 00:45
119     14/03/2012 17:30
1498    29/03/2012 02:15
2010    03/04/2012 10:15
Name: date_time, dtype: object

In [13]:
# This should be a datetime object
raw_data['date_time'].dtypes

dtype('O')

In [14]:
# Change Date and Date_time columns to be datetime objects instead of strings.
raw_data['date_time'] = pd.to_datetime(raw_data['date_time'], format = "%d/%m/%Y %H:%M")

raw_data['date_time'].sample(10)

71     2012-03-14 05:30:00
1083   2012-03-24 18:30:00
2383   2012-04-07 07:30:00
417    2012-03-17 20:00:00
2617   2012-04-09 18:00:00
170    2012-03-15 06:15:00
2178   2012-04-05 04:15:00
399    2012-03-17 15:30:00
2595   2012-04-09 12:30:00
1652   2012-03-30 16:45:00
Name: date_time, dtype: datetime64[ns]

In [15]:
raw_data.dtypes

date                                     object
co2_dining_room                         float64
co2_room                                float64
relative_humidity_dining_room           float64
relative_humidity_room                  float64
lighting_dining_room                    float64
lighting_room                           float64
rain                                    float64
sun_dusk                                float64
wind                                    float64
sun_light_in_west_facade                float64
sun_light_in_east_facade                float64
sun_light_in_south_facade               float64
sun_irradiance                          float64
outdoor_relative_humidity               float64
day_of_the_week                         float64
indoor_temperature_room                 float64
date_time                        datetime64[ns]
dtype: object

In [16]:
# Since we have a date time column, there's no need for the date column or the day of the week column
raw_data.drop(columns = ['date', 'day_of_the_week'], inplace = True)

### **Section 3: Data Validation**

Now we'll inspect the contents of our columns to make sure the data makes sense. We know there are no missing values, but we need to make sure the data isn't invalid in other ways. For example, we shouldn't see negative values in columns like the co2 columns, which are in parts per million. We also need to see if any measurements were skipped. They should occur every fifteen minutes.

In [17]:
# Measurements are supposed to have been taken every 15 minutes. Let's find out if any rows are missing.
# .diff() takes the difference between each row and the previous row.
raw_data['date_time'].diff().drop([0]).max(), raw_data['date_time'].diff().drop([0]).min()

(Timedelta('0 days 00:15:00'), Timedelta('0 days 00:15:00'))

The differences are fine, meaning the maximum and minimum difference in time between any two subsequent measurments is 15 minutes.

In [18]:
# Function to check if the minimum values of the numeric data types are above zero
def min_max_checker(df):
    invalid_value_columns = []
    for column in df.columns:
        try:
            df[column][0] + 1 # Checks to see if column is of numeric type
            if df[column].min() < 0: # If it is numeric, and if the minimum value is below zero, add it to the list
                invalid_value_columns.append(column)
        except:
            pass # Does nothing if the column is not numeric
    return(invalid_value_columns) # Return a list of columns with minimum values below zero.

In [19]:
min_max_checker(raw_data)

['sun_irradiance']

In [20]:
raw_data['sun_irradiance'].describe()

count    2764.000000
mean      215.010017
std       297.234046
min        -4.164670
25%        -3.381330
50%         3.922000
75%       435.434500
max      1028.270000
Name: sun_irradiance, dtype: float64

In [21]:
# At least 25% of irradiance values are negative. Let's see exactly what proportion of irradiance's values are negative.
negative_irrad_rows = len(raw_data[raw_data['sun_irradiance'] < 0])
all_rows = len(raw_data)
print(round(negative_irrad_rows / all_rows * 100, 2), 'percent of the training irradiance readings are below zero.')

49.13 percent of the training irradiance readings are below zero.

Upon cursory investigation, it seems to be relatively common to have small negative irradiance values. The reason for this might be because the value is recorded on a log scale, with an arbitrary zero point at, say, dawn or dusk. At night (which comprises roughly half of the measurements), the absence of sun falls results in low points of irradiance that fall just below the arbitrary zero point, meaning the value of the exponent variable is negative. During the day, it is vastly higher.

Posts that lead to this conclusion:

https://unmethours.com/question/13731/negative-and-positive-values-of-solar-radiation-during-night/
https://www.researchgate.net/post/Its_normal_to_have_negative_values_of_irradiance_in_a_database

In [22]:
# Lastly, we'll set the index of the dataframe to be the date_time column
raw_data.set_index('date_time', inplace = True)

In [23]:
# Save cleaned version of the data.
raw_data.to_csv('../Data/train_cleaned.csv')

# Summary

Here is a summary of the changes we have made to the data so far:

1) Made combined date_time columns out of the date and time columns,

2) Changed the data type of the date_time column to be a datetime object,

3) Deleted the time, date, and Id columns,

4) Set the index of our dataframe to be the combined date_time column,

5) Fixed spelling errors and in general made the column name formatting consistent and less verbose.


The data was quite clean when it came to us. There were no missing values in the form of NaN's we needed to deal with. We further confirmed that the columns weren't missing values in other ways by observing the maximum and minimum values of the differences between each row. Lastly, we made sure that no column had negative values that wasn't supposed to have negative values.